BasedOnStyle: LLVM
IndentWidth: 4
TabWidth: 4
UseTab: Never
PointerAlignment: Left
DerivePointerAlignment: false
SpacesInConditionalStatement: false
ColumnLimit: 220
BreakBeforeBraces: Custom
BraceWrapping:
  AfterFunction: false
  AfterClass: false
  AfterStruct: false
  AfterUnion: false
  AfterControlStatement: Multiline
  BeforeElse: false
